.impact-comparison-container {
    width: 549px;
    height: 346px;
    background: #FCFBFC;
    border-radius: 16px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    padding-top: 32px;
    padding-bottom: 32px;

    border-top: 6px;
    border-right: 2px;
    border-bottom: 6px;
    border-left: 2px;
}