body {
    background-color: black;
}

.impact-comparison-container {
    width: 549px;
    height: 346px;
    border-radius: 16px;

    border-top: 6px;
    border-right: 2px;
    border-bottom: 6px;
    border-left: 2px;

    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 32px;
    padding-right: 32px;

    background-color: #FCFBFC;
    color: #000000;
}

.back-button img {
    float: right;
}

.content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 8px;

    justify-items: center;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
}

.type-and-distance, .challenge-form-question, .challenge-form-answer, .achievement-text {
    grid-column: 1 / -1;
}

.achievement-text {
    color: #595959;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0%;
}

.impact-comparison-submit {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}


.impact-comparison-submit button {
    width: 79px;
    height: 23px;
    border-radius: 16px;
    border: 1px;

    padding-top: 3px;
    padding-right: 16px;
    padding-bottom: 3px;
    padding-left: 16px;

    background-color: #214F4D;
    cursor: pointer;

    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0%;
}