body {
    background-color: black;
}

.container {
    width: 549px;
    height: 171px;
    border-radius: 16px;

    border-top: 6px;
    border-right: 2px;
    border-bottom: 6px;
    border-left: 2px;

    padding-top: 32px;
    padding-bottom: 32px;

    display: flex;
    gap: 36px;
    flex-direction: column;

    background-color: #FCFBFC;
    align-items: center;
}

.text {
    width: 453px;
    height: 48px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

button {
    width: 189px;
    height: 23px;

    border-radius: 16px;
    border: 1px;

    padding-top: 3px;
    padding-right: 16px;
    padding-bottom: 3px;
    padding-left: 16px;

    gap: 10px;

    background-color: #214F4D;
    color: #FFFFFF;

    letter-spacing: 0%;
    line-height: 120%;
}