<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                <div class="card-icon">
                    <img src="/workspaces/DeepCurrent-Project/app/templates/travel_luggage_and_bags_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24 1.svg" alt="Luggage Icon">
                </div>
                <h3>Travel</h3>
            </div>
            <button class="card-menu">⋮</button>
        </div>


        <div class="card-body">
            <div class="card-metrics">
                <span>Weekly</span>
                <div class="weekly-value">kg</div>
            </div>
            <div class="card-metrics">
                <span>Monthly</span>
                <div class="monthly-value">kg</div>
            </div>
            <div class="card-metrics">
                <span>Total</span>
                <div class="total-value">kg</div>
            </div>
        </div>


        <div class="card-footer">
            <div class="trend-updown"></div>
            <button class="add-button">+</button>
        </div>
    </div>


</body>
</html>
