<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div class="body-frame">
      <div class="dashboard-card">
        <header class="dashboard-header">
          <div class="header-left">
            <p id="co2e-message">You saved _ kg CO2e this month</p>
          </div>
          <div class="header-right">
            <button class="profile-icon">👤</button>
          </div>
        </header>

        <div class="badge-message">
          <p>
            Congratulations! You've earned a new badge:
            <strong>Eco Advocate</strong>
          </p>
        </div>

        <div class="link">
          <a href="#" id="social-link">Click to share on social media! →</a>
        </div>
      </div>
      <div class="spacer"></div>
      <div class="card">
        <div class="card-header">
          <div class="card-title">
            <div class="card-icon">
              <img
                src="/workspaces/DeepCurrent-Project/app/templates/travel_luggage_and_bags_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24 1.svg"
                alt="icon"
              />
            </div>
            <h3>Travel</h3>
          </div>
          <button class="card-menu">⋮</button>
        </div>
        <div class="card-structure">
          <div class="card-body">
            <div class="card-metrics">
              <span>Weekly</span>
              <div class="weekly-value">kg</div>
            </div>
            <div class="card-metrics">
              <span>Monthly</span>
              <div class="monthly-value">kg</div>
            </div>
            <div class="card-metrics">
              <span>Total</span>
              <div class="total-value">kg</div>
            </div>
          </div>
          <div class="trend-updown"></div>
          <div class="button-container">
            <button class="add-button">+</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
