<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>


<div class="dashboard-card">
    <header class="dashboard-header">
        <div class = "header-left">
            <p id = "co2e-message"> You saved _ kg CO2e this month</p>
            
        </div>
        <div class ="header-right">
            <button class="profile-icon">👤</button>
        </div>
    </header>
    
    <div class = "badge-message">
        <p>Congratulations! You've earned a new badge: <strong>Eco Advocate</strong></p>
    </div>
    
    <div class = "link">
        <a href="#" id="social-link">Click to share on social media! →</a>
    </div>
</div>
</body>
</html>