<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="POST">
        <div class="container">
            <h1>Login</h1>
            <p>Please enter your login details below</p>

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" class="email" required>
            <br>

            <label for="password"><b>Password</b></label>
            <input type="text" placeholder="Enter Password" name="password" class="password" required>
            <br>

            <button type="submit" class="loginbtn">Login</button>

            <a href="{{ url_for('app.register') }}">Register here</a>
        </div>
    </form>
</body>
</html>